*{
    box-sizing: border-box;
    margin: 0px;
    }

    .body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .header {
        display: flex;
        flex-direction: column;
    }

    .breadcrump_env {
        width: 75%;
    }

    .breadcrumps {
        display: flex;
        justify-content: center;
    }

    .breadcrump_link {
        color: grey;
        cursor: pointer;
        font-style: georgia;
        text-decoration: none;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        height: 100px;
    }

    .main {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 100px;
        width: 100%;
    }

    .home {
        display: flex;
        flex: 0.5;
        align-items: center;
        justify-content: center;
    }

    .text_env {
        width: 60%;
    }

    .view_select {
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
        flex: 0.75;
        justify-content: space-between;
        align-items: center;
    }

    .button {
        height: 50;
        width: 120;
        color: black;
        font-weight: 800;
        font-size: 20;
        background-color: white;
        border: solid;
        cursor: pointer;
        font-style: georgia;
        margin-top: 30px;
    }

    .images {
        width: 60%;
        border-color: black;
        border: solid;
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
        margin: 50px;
    }

    .heading_1 {
        font-style: georgia;
        margin: 40px;
        text-align: left;
        margin-left: 0px;
    }

    .text_left {
        font-style: georgia;
        text-align: left;
    }

    .content_field {
        width: 80%;        
    }

    .tabelle {
        border: 1px;
        border-color: lightgrey;
        border: solid;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .form {
        margin-top: 10px;
        margin-bottom: 60px;
    }

    .input_field {
        width: 100%;
        margin-top: 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        box-shadow: inset;
        border-color: black;
        border-radius: 0;
        border: solid;
        height: 30px;
    }