*{
    box-sizing: border-box;
    margin: 0px;
    }

    .body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center; 

        height: 100px;
    }

    .main {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 100px;
        width: 100%;
    }

    .home{
        display: flex;
        flex: 0.5;
        align-items: center;
        justify-content: center;
    }

    .view_select {
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
        flex: 0.75;
        justify-content: space-between;
        align-items: center;
    }

    .button{
        height: 50;
        width: 150;
        color: black;
        font-weight: 800;
        font-size: 20;
        background-color: white;
        padding: 10;
        border-radius: 15px;
        border: solid;
        cursor: pointer;
    }
